.movie-card {
    min-width: 300px;
    min-height: 450px;
    position: relative;  // Aggiunto per posizionare correttamente l'elemento assoluto

    .movie-points {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: var(--sec);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        right: -20px;
        top: 0px;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .movie-info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px; // Aggiungi uno sfondo semitrasparente
        color: var(--white);  // Colore del testo
        background-color: rgba(128, 128, 128, 0.7); // Grigio leggermente trasparente
    }

    &:not(:last-child) {
        margin-right: 30px;
    }
}