@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

:root{
    --dark: #0c0c0c;
    --main: #db0000;
    --sec: #831010;
    --accent: #564d4d;
    --white: #f8f4f4;
}
*{
    font-family: 'Electrolize', sans-serif;
}

body{
    background-color: var(--dark);
    color: var(--white);
}
.tc-dark{
    color: var(--dark);
}
.tc-main{
    color: var(--main);
}
.tc-sec{
    color: var(--sec);
}
.tc-accent{
    color: var(--accent);
}
.tc-white{
  color: var(--white);
}
.bg-dark{
    background-color: var(--dark);
}
.bg-main{
    background-color: var(--main);
}
.bg-sec{
    background-color: var(--sec);
}
.bg-accent{
    background-color: var(--accent);
}
.bg-accent{
  background-color: var(--white);
}

@font-face {
    font-family: "Exan";
    src: url('./Assets/Exan-Regular.ttf');
}
.font-exan{
    font-family: "Exan";
}

